<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="timesheet">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Timesheet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="absence">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Vacation / Absence</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
